---
http_interactions:
- request:
    method: get
    uri: http://search.3taps.com/?auth_token=<3taps auth token>&category=RHFR&location.metro=USA-POR&retvals=price&rpp=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"next_page": 1, "time_search": 109.54594612121582, "success": true,
        "time_taken": 120.22614479064941, "anchor": 1985425461, "time_fetch": 6.85882568359375,
        "num_matches": 2932, "postings": [{"price": 1235.0}, {"price": 650.0}, {"price":
        2500.0}, {"price": 855.0}, {"price": 1695.0}, {"price": 1220.0}, {"price":
        1895.0}, {"price": 1365.0}, {"price": 1350.0}, {"price": 1465.0}], "next_tier":
        0}'
  recorded_at: Wed, 01 Apr 2015 17:41:26 GMT
recorded_with: VCR 2.9.3
